@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');
/*
.bbh-bogle-regular {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/*
.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
/*
.cinzel-<uniquifier> {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

/*
.lexend-zetta-<uniquifier> {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    color: none;
    color-scheme:light;
    
}

:root {
    color-scheme: light;
    --color-1: #10083acc;
    --color-2: #cccfee;

}

body {
    background-image: url(../assets/photo_2025-12-10_18-02-21.jpg);
    background-position: center;
    background-size: cover;
    height: 102dvh;
    width: 100%;
}

header {
    background-color: #10083a;
    padding: .5rem;
    width: 100%;
    border-bottom: 4px solid #f3f3b1;
}

h1 {
    font-size: 2.1rem;
    color: var(--color-2);
    text-align: center;
    font-family:"Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal; 
}

main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 10px;
}

legend {
    color: aliceblue;
    font-size: 1.4rem;
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

label {
    width: 95%; 
    color: aliceblue;
    font-size: 1.4rem;
    font-family:"Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

input, textarea {
    width: 95%;
    color: black;
    font-size: 1.2rem;
    padding: .2rem;
}

textarea {
    min-height: 300px;
}

#enviar {
    color: #f3f3b1;
    background-color: #10083a;
    border: 2px solid #f3f3b1;
    font-size: 1.6rem;
    text-align: center;
    margin-top: .9rem;
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-block: .2rem;
    border-radius: 10px;
}

